**LOADING DATA**

In [1]:
import pandas as pd

iris = pd.read_excel('iris_dataset.xlsx', sheet_name='iris')
iris.head()

   Unnamed: 0  sepal_length  sepal_width  petal_length  petal_width species
0           0           5.1          3.5           1.4          0.2  setosa
1           1           4.9          3.0           1.4          0.2  setosa
2           2           4.7          3.2           1.3          0.2  setosa
3           3           4.6          3.1           1.5          0.2  setosa
4           4           5.0          3.6           1.4          0.2  setosa

**PREPROCESSING**
* Removing unnecessary columns
* Removing duplicates if it exist

_when we saved the data in an excel file we forgot to deactivate the auto indexing_

In [2]:
iris.drop(columns='Unnamed: 0', inplace=True)
iris.drop_duplicates(inplace=True)

**EXPLORATORY**

The dataset is devided into 3 classes under the names ***setosa***, ***versicolor*** and ***virginica*** which are categorized by *sepal_length* and *sepal_width*, *petal_length* and *petal_width*

In [ ]:
import numpy as np

def kmeans(X, k=3, max_iters=100):
    """Perform K-Means clustering on the data."""
    # Randomly initialize cluster centers
    initial_indices = np.random.choice(X.shape[0], k, replace=False)
    centroids = X[initial_indices]
    
    for _ in range(max_iters):
        # Assign clusters based on closest centroid
        distances = np.linalg.norm(X[:, np.newaxis] - centroids, axis=2)
        labels = np.argmin(distances, axis=1)
        # Update centroids based on the assigned clusters
        new_centroids = np.array([X[labels == i].mean(axis=0) for i in range(k)])
        
        # Check for convergence
        if np.all(new_centroids == centroids):
            break
        centroids = new_centroids
    
    return centroids, labels

# Example usage

X = np.array([[1, 2], [1, 4], [1, 0], [4, 2], [4, 4], [4, 0]])
    
centroids, labels = kmeans(X, k=2)
print("K-Means Centroids:", centroids)
print("Cluster Labels:", labels)